**/.vs
**/.vscode
**/bin
**/obj
**/node_modules
**/TestResults
**/*.user
**/*.suo
**/*.userosscache
**/*.dbmdl
**/*.jfm
**/[Tt]ests/
**/*.md
**/Dockerfile
**/.dockerignore
**/docker-compose*
**/.env
**/appsettings.Development.json
**/appsettings.*.json
!**/appsettings.Production.json
**/*.log
**/LICENSE
**/.editorconfig
**/launchSettings.json